.article-container{
    width:100%;
    height: 3500px;
}
.content-box{
    width:100%;
    background-color: #02111B;
    height:100%;
}

.article{
    width: 50%;
    height: 100%;
    margin-top:104px;
    background: #EDF7F6;
    position:relative;
    left:400px;
    z-index: 1;
    
}

.article-title{
    text-align: center;
    position: relative;
    top: 40px;
    font-family: 'Fjalla One', sans-serif;
}

.review-body{
    margin-left: 40px;
    margin-right: 40px;
    margin-top:80px;
    font-family: 'Libre Baskerville', serif;
    line-height: 28px;
    font-size: 14px;
    clear:both;
}

.game-image{
    width: 80%;
    height:12%;
    margin-left: 100px;
}

.game-score{
    font-size: 25px;
    margin-left: 40px;
    font-family: 'Fjalla One', sans-serif;
    color: #A0303B;
}